@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

.page-transition {
  animation: smoothFade 0.3s ease-in-out;
  background-color: black;
}

@keyframes smoothFade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .animate-gradient {
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
  }
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

#root {
  background-color: black;
  min-height: 100vh;
}